Msbuild/
BuildDrop
bin/
obj/
packages/
VSonarExtensionPlugins.v11.suo
VSonarExtensionPlugins.v12.suo
VSonarExtensionPlugins.sln.DotSettings.user
*.pdb
ObjDrop
.vs
trial-license.xml
trial-license.xml
*.VSQ
buildlog*.txt
src/AnalysisPlugin.Test/trial-license-trial.xml
src/AnalysisPlugin.Test/trial-license-trial-expired.xml
src/AnalysisPlugin.Test/trial-license-trial-good.xml
src/AnalysisPlugin/license.xml
**/.sonarqube/**
StyleCop.Cache
StyleCop.Cache
src/Security/LicenseGeneratorCLI/LicenseGeneratorCLI.csproj.user
